<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MBC</title>
    <!-- Link Jquery -->
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <!-- Link bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/bootstrap.min.js"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
    <!-- My css -->
    <link rel="stylesheet" href="myCss/style.css" />
    <!-- Link icons -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <!-- <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"
    /> -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0"
    />
  </head>
  <body>
    <!-- Header -->
    <header class="header bg-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-2 center-logo">
            <div class="logo w-100 h-100">
              <a href="#!home" class="logo-wrapper w-100 h-100 flex">
                <img
                  class="w-100 h-100 img-fluid"
                  src="https://bizweb.dktcdn.net/100/402/946/themes/788910/assets/logo.png?1667214408011"
                  alt="Logo MBC"
                />
              </a>
            </div>
          </div>
          <div class="col-lg-7 d-flex flex-row">
            <nav class="navbar navbar-expand-lg navbar-light bg-white p-0">
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="fas fa-bars"></i>
                Menu
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav_li nav-item active">
                    <a href="#!home" class="nav-link">Trang chủ</a>
                  </li>
                  <li class="nav_li nav-item dropdown">
                    <a
                      href="#!list-products"
                      class="nav-link"
                      id="navbarDropdown"
                      role="button"
                      data-toggle="dropdown"
                      >Sản phẩm <i class="fas fa-angle-down ml-1"></i
                    ></a>
                    <ul
                      class="list_product dropdown-menu"
                      aria-labelledby="navbarDropdown"
                    >
                      <li class="drop_li">
                        <a href="#" class="drop_item dropdown-item"
                          >Clearance sale</a
                        >
                      </li>
                      <li class="drop_li dropdown-divider"></li>
                      <li class="drop_li">
                        <a
                          href="#!kind-product/t-shirt"
                          class="drop_item dropdown-item"
                          >T-Shirt</a
                        >
                      </li>
                      <li class="drop_li dropdown-divider"></li>
                      <li class="drop_li dropdown-submenu position-relative">
                        <a
                          href="#!kind-product/outerwear"
                          class="drop_item dropdown-item"
                          >Outerwear<i
                            class="submenu_icon fas fa-angle-right"
                          ></i
                        ></a>
                        <ul class="list_product dropdown-menu">
                          <li class="drop_li">
                            <a class="sub_drop_item dropdown-item" href="#"
                              >Jacket</a
                            >
                          </li>
                          <li class="drop_li dropdown-divider"></li>
                          <li class="drop_li">
                            <a class="sub_drop_item dropdown-item" href="#"
                              >Hoodie</a
                            >
                          </li>
                          <li class="drop_li dropdown-divider"></li>
                          <li class="drop_li">
                            <a class="sub_drop_item dropdown-item" href="#"
                              >Hoodie zip</a
                            >
                          </li>
                          <li class="drop_li dropdown-divider"></li>
                          <li class="drop_li">
                            <a class="sub_drop_item dropdown-item" href="#"
                              >Sweatshirt</a
                            >
                          </li>
                          <li class="drop_li dropdown-divider"></li>
                          <li class="drop_li">
                            <a class="sub_drop_item dropdown-item" href="#"
                              >Cardigan</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li class="drop_li dropdown-divider"></li>
                      <li class="drop_li">
                        <a
                          href="#!kind-product/bottom"
                          class="drop_item dropdown-item"
                          >Bottoms</a
                        >
                      </li>
                      <li class="drop_li dropdown-divider"></li>
                      <li class="drop_li">
                        <a href="#" class="drop_item dropdown-item"
                          >Accessories</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="nav_li nav-item">
                    <a href="#!cart" class="nav-link">Liên hệ</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div
            class="col-lg-3 col-md-3 d-flex flex-column justify-content-center"
          >
            <div
              class="cartgroup d-flex flex-row-reverse justify-content-between"
            >
              <a
                class="text-muted"
                data-toggle="modal"
                data-target="#myModalCart"
              >
                <div
                  class="cart d-flex flex-column p-2 cursor-pointer"
                  data-toggle="modal"
                  data-target="#myModalCart"
                >
                  <span class="material-symbols-outlined text-center">
                    shopping_cart
                  </span>
                  <span class="text-muted mt-2">Giỏ hàng</span>
                  <span class="count-item-cart">{{cart.length}}</span>
                </div>
              </a>
              <a class="text-muted"
                ><div
                  class="account d-flex flex-column p-2 pl-3 pr-3 cursor-pointer"
                >
                  <i class="fas fa-user text-center"></i>
                  <span class="text-muted mt-2">Tài khoản</span>
                </div>
              </a>
              <div
                class="searching text-muted font-weight-bold"
                style="position: relative; font-size: 14px"
              >
                <div class="d-flex flex-column p-2 cursor-pointer">
                  <i
                    class="fas fa-search text-center"
                    style="font-size: 15px"
                  ></i>
                  <span class="text-muted mt-2">Tìm kiếm</span>
                </div>
                <div class="search-tool">
                  <form>
                    <input
                      class="form-control text-white p-2"
                      type="text"
                      placeholder="Tìm kiếm..."
                      ng-model="search"
                    />
                    <a class="search-icon" href="#!find-product">
                      <button>
                        <i class="fas fa-search text-center"></i>
                      </button>
                    </a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- The Modal -->
    <div class="container mt-2" ng-controller="myctrl">
      <div
        class="modal fade"
        id="myModalCart"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalCartLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <img
                width="5%"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOjjjO_hC8ozc2n-vdVJdYBuU5HqDYTz4qZA&usqp=CAU"
                alt=""
              />
              <h5
                id="myModalCartLabel"
                class="ml-3 modal-title text-uppercase text-info text-center"
                style="margin: auto 0"
              >
                Giỏ hàng
              </h5>
              <button
                type="button"
                class="btn-close close"
                data-dismiss="modal"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <table class="table">
                <tr>
                  <th>Tên sản phẩm</th>
                  <th>Hình ảnh</th>
                  <!-- <th>Size</th> -->
                  <th>Giá</th>
                  <th>Số lượng</th>
                  <th>Thành tiền</th>
                  <th></th>
                </tr>
                <tr ng-repeat="p in cart track by $index">
                  <td>{{p.name}}</td>
                  <td><img width="100px" src="{{p.image}}" alt="" /></td>
                  <td>{{p.price | number}}</td>
                  <td>
                    <span class="cursor-pointer" ng-click="subClick($index)"
                      >-</span
                    >
                    {{p.quantity}}
                    <span class="cursor-pointer" ng-click="addClick($index)"
                      >+</span
                    >
                  </td>
                  <td>{{p.price*p.quantity | number}}</td>
                  <td>
                    <span class="cursor-pointer" ng-click="delProduct($index)"
                      ><span class="material-symbols-outlined">
                        delete_forever
                      </span></span
                    >
                  </td>
                </tr>
                <tr>
                  <td colspan="4">Tổng tiền:</td>
                  <td
                    colspan="2"
                    style="font-size: 20px; color: #6cc9ca"
                    class="font-weight-bold"
                  >
                    {{formatMoney(sumMoney)}}₫
                  </td>
                </tr>
              </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button
                ng-click="thanhToan()"
                class="btn border btn-info text-uppercase pl-4 pr-4 pt-2 pb-2"
              >
                Thanh toán
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Js -->
  </body>
</html>
