<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MBC</title>
    <!-- Link Jquery -->
    <!-- <script src="https://code.jquery.com/jquery-latest.js"></script> -->
    <!-- Link bootstrap -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" /> -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <!-- Angular -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script> -->
    <!-- My css -->
    <link rel="stylesheet" href="myCss/style.css" />
    <link rel="stylesheet" href="myCss/list-prod.css" />
    <!-- Link icons -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <!-- <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"
    /> -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0"
    />
  </head>
  <body>
    <!-- List Products -->
    <div class="list-products">
      <section class="bread-crumb wrap-background pt-2 pb-4">
        <div class="container">
          <nav class="breadcrumb bg-transparent mb-2">
            <a class="breadcrumb-item" href="#">Trang chủ</a>
            <a class="breadcrumb-item active" href="#">Tất cả sản phẩm</a>
          </nav>
          <h2 class="pl-3 pr-3">Tất cả sản phẩm</h2>
          <div class="row btns-up-down pl-4 pr-4 mt-4">
            <div class="toolSearch w-50">
              <input
                class="form-control p-2 rounded"
                type="text"
                placeholder="Tìm kiếm..."
                ng-model="search"
              />
            </div>
            <div class="ml-auto">
              <button class="btn btn-info" ng-click="tang()">Tăng dần</button>
              <button class="btn btn-info" ng-click="giam()">Giảm dần</button>
            </div>
          </div>
        </div>
      </section>
      <section class="featured-product_content mt-3">
        <div class="container">
          <div class="row">
            <div
              class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4 items"
              ng-repeat="p in products | orderBy : sort | limitTo : 8 | filter : search"
            >
              <div class="card border-0">
                <div class="card-img">
                  <a href="#!detail/{{p.id}}">
                    <img class="w-100" src="{{p.image}}" alt="" />
                  </a>
                </div>
                <div class="card-info pt-1 pl-3 pr-3 pb-3">
                  <h3>
                    <a href="#">{{p.name}}</a>
                  </h3>
                  <div class="info-detail">
                    <div
                      class="special-price d-inline-block font-weight-bold mr-3"
                    >
                      <span>{{formatMoney(p.price)}}₫</span>
                    </div>

                    <span class="status-item">{{p.status}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="featured-product_content mt-3">
        <div class="container">
          <div class="row" ng-click="showProducts()" ng-hide="hienthi==true">
            <button class="btn btn-info ml-auto mr-auto">Xem thêm</button>
          </div>
          <div class="row" ng-show="hienthi==true">
            <div
              class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4 items"
              ng-repeat="p in products | orderBy : sort | limitTo : 4:8"
            >
              <div class="card border-0">
                <div class="card-img">
                  <a href="#!detail/{{p.id}}">
                    <img class="w-100" src="{{p.image}}" alt="" />
                  </a>
                </div>
                <div class="card-info pt-1 pl-3 pr-3 pb-3">
                  <h3>
                    <a href="#">{{p.name}}</a>
                  </h3>
                  <div class="info-detail">
                    <div
                      class="special-price d-inline-block font-weight-bold mr-3"
                    >
                      <span>{{formatMoney(p.price)}}₫</span>
                    </div>

                    <span class="status-item">{{p.status}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-click="hideProducts()" ng-hide="hienthi==false">
          <button class="btn btn-info ml-auto mr-auto">Ẩn bớt</button>
        </div>
      </section>
    </div>

    <!-- Js -->
  </body>
</html>
